* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  font-size: inherit;
  font-weight: inherit;
}

p {
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

body {
  background-image: url(image/background03.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
/* 
body::after {
  content: '';
  background-image: url(image/background03.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;
} */

.wrapper {
  width: 700px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile__title {
  text-align: center;
  background-image: url(image/background02.avif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.profile__img {
  width: 230px;
  border: 10px solid whitesmoke;
  border-radius: 50%;
}

.profile__name {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin: 20px 0;
}

.profile__job {
  font-size: 20px;
  color: white;
  border-top: 4px solid whitesmoke;
  padding: 10px 0;
}

.profile__contents {
  background: rgb(153, 111, 181);
  background: linear-gradient(
    0deg,
    rgba(153, 111, 181, 0.9332326680672269) 0%,
    rgba(76, 16, 119, 0.944437149859944) 39%,
    rgba(9, 1, 13, 1) 100%
  );
  padding: 20px;
}

.profile__description {
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 14px;
  padding: 20px;
}

.profile__information,
.profile__skills {
  font-size: 26px;
  color: #38006b;
  margin-bottom: 10px;
}

.list {
  border-left: 5px solid #38006b;
  padding-left: 16px;
  color: black;
}

.list li:hover {
  color: rgba(76, 16, 119, 0.774);
}

.profile__contact {
  color: whitesmoke;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}
